<div class="w-full md:max-w-md md:mx-auto md:mx-0 xl:max-w-full h-100 pt-12 pb-6 block">
  <div>
    <h1 class="text-3xl font-bold mb-8">Sign Up</h1>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" autocomplete="off">
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Date of birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dob">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="multi-year" [startAt]="startDate"></mat-datepicker>
      </mat-form-field>

      <mat-radio-group formControlName="gender">
        <label for="country" class="block text-sm font-medium text-gray-700 mb-2">Gender</label>
        <mat-radio-button   class="mr-4" *ngFor="let data of genders" [value]="data.code">{{data.name}}</mat-radio-button>
      </mat-radio-group>

      <mat-form-field appearance="fill" class="w-full mt-4">
        <mat-label>Country</mat-label>
        <mat-select formControlName="country">
          <mat-option *ngFor="let data of countries" [value]="data.code">
            {{data?.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password': 'text'" formControlName="password" autocomplete="new-password">
        <button matSuffix mat-icon-button type="button" (click)="hide=!hide"><mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon></button>
      </mat-form-field>
      <div>
        <button type="submit"
                class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm
                      font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2
                      focus:ring-indigo-500">
          Sign up
        </button>
      </div>
    </form>
  </div>

  <hr class="my-6 border-gray-300 w-full">
  <p class="text-sm mb-3">Back to
    <a routerLink="../login" class="font-semibold text-indigo-500 text-sm hover:text-indigo-700">Login?</a></p>
  <small class="font-mono text-xs text-gray-400">Made with <span
    class="material-icons flex items-center text-red-500">favorite</span> by Bilal.</small>
</div>
