<h2 mat-dialog-title>Search</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="formGroup">

    <mat-form-field class="md:w-full" appearance="fill">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Name here ...">
    </mat-form-field>

    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Topics</mat-label>
      <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip
          *ngFor="let topic of topics"
          (removed)="remove(topic)">
          {{topics}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input
          placeholder="New Topic..."
          #fruitInput
          [formControl]="fruitCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
          {{fruit}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Country</mat-label>
      <mat-select formControlName="country">
        <mat-option *ngFor="let data of countries" [value]="data?.code">{{data?.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="clear()">Clear</button>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-flat-button (click)="search()" color="primary">Search</button>
</mat-dialog-actions>
