<div class="p-6">
  <h1 class="font-bold text-gray-500 text-xl">Owner</h1>
  <hr class="mt-2 mb-4">

  <div>
    <div
      *ngFor="let data of owners; index as i;"
      class="flex justify-between items-center bg-white border border-gray-300 rounded py-2 px-2">
      <div class="flex gap-4 items-center">
        <span class="flex ml-2 text-sm bg-gray-800 rounded-full md:mr-0">
        <img class="w-8 h-8 rounded-full" [src]="data?.img">
      </span>
        <p class=" text-sm text-gray-800">{{data?.name}}</p>
      </div>
      <div>

      </div>
    </div>
  </div>

  <hr class="my-3">

  <h1 class="font-bold text-gray-500 text-xl">Admins</h1>
  <hr class="mt-2 mb-4">
  <button mat-raised-button><mat-icon>add</mat-icon> Add Member</button>

</div>
