<nav class="z-10 top-0 fixed w-full bg-white border border-gray-200 px-2 sm:px-4 px-2 sm:px-4">
  <div class="container h-[48px] flex flex-wrap justify-between items-center mx-auto">
    <div class="flex items-center gap-4">
      <a href="" class="flex items-center">
        <div
          class="w-[36px] h-[36px] mr-3 font-quiz text-white text-2xl bg-indigo-700 rounded flex items-center justify-center">
          Q
        </div>
        <span class="hidden md:block self-center text-xl font-semibold whitespace-nowrap">Quiz jam</span>
      </a>
    </div>
    <div class="hidden md:flex items-center gap-2.5 md:order-2">

      <div class="justify-between items-center w-full md:flex md:w-auto" id="mobile-menu-2">
        <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
          <li>
            <a routerLink="." routerLinkActive="text-indigo-700"
               class="flex items-center gap-2 py-2 pr-4 pl-3 text-gray-700 md:border-0 md:hover:text-indigo-700 rounded md:p-0"
               aria-current="page">
              <span class="material-icons text-2xl">home</span> Home</a>
          </li>

          <li>
            <a routerLink="topics" routerLinkActive="text-indigo-700"
               class="flex items-center gap-2 py-2 pr-4 pl-3 text-gray-700 md:border-0 md:hover:text-indigo-700 md:p-0">
              <span class="material-icons text-2xl">explore</span>
              Explore
            </a>
          </li>

          <li>
            <a routerLink="friends" routerLinkActive="text-indigo-700"
               class="flex items-center gap-2 py-2 pr-4 pl-3 text-gray-700 md:border-0 md:hover:text-indigo-700 md:p-0">
              <span class="material-icons text-2xl">people</span>
              Friends
            </a>
          </li>

          <li>
            <a routerLink="feeds" routerLinkActive="text-indigo-700"
               class="flex items-center gap-2 py-2 pr-4 pl-3 text-gray-700 md:border-0 md:hover:text-indigo-700 rounded md:p-0"
               aria-current="page">
              <span class="material-icons text-2xl">feed</span> Feeds</a>
          </li>
        </ul>
      </div>

      <div class="flex items-center border-l border-slate-200 ml-3 pl-3 gap-1">
        <button
          class="flex items-center justify-center w-10 h-10 rounded-full transition hover:bg-gray-200 hover:text-indigo-700">
          <span class="material-icons text-xl ">chat</span>
        </button>
        <button
          class="flex items-center justify-center w-10 h-10 rounded-full transition hover:bg-gray-200 hover:text-indigo-700">
          <span class="material-icons text-xl">notifications</span>
        </button>
        <button type="button"
                #profileMenu
                (click)="isProfileMenuOpen = !isProfileMenuOpen"
                class="flex ml-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300"
                id="user-menu-button" aria-expanded="false" type="button" data-dropdown-toggle="dropdown">
          <span class="sr-only">Open user menu</span>
          <img class="w-8 h-8 rounded-full" src="/assets/1623408653069.png" alt="user photo">
        </button>
      </div>

    </div>
  </div>
</nav>
<div class="w-full h-full bg-gray-100 relative mt-[48px]">
  <router-outlet></router-outlet>
</div>


<!--profile menu-->
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="profileMenu"
  [cdkConnectedOverlayOpen]="isProfileMenuOpen"
>
  <div
    class="z-50 my-4 text-base list-none bg-white rounded divide-y divide-gray-100 shadow"
    id="dropdown">
    <div class="py-3 px-4">
      <span class="block text-sm text-gray-900 ">Bonnie Green</span>
      <span class="block text-sm font-medium text-gray-500 truncate">name@flowbite.com</span>
    </div>
    <ul class="py-1" aria-labelledby="dropdown">
      <li>
        <a href="#"
           class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 ">Account</a>
      </li>
      <li>
        <a href="#"
           class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100">Create Topic</a>
      </li>
      <li>
        <a (click)="logout()"
           class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100">Sign out</a>
      </li>
    </ul>
  </div>
</ng-template>
